body ,
html{
  background-color: black;
  color:white;
}
.nav{
  display: flex;
  background-color: lightgreen;
  justify-content: space-between;
  padding: 14px 20px;
}
.nav2{
  display: flex;
  gap:30px;

}