html,body{
  background-color: black;
  color:white
}
.a {
  background-color: black;
  color: white;
  height: 100vh;

}
.n{
  display: flex;
  justify-content: space-between;
  padding: 8px 4px;
  background-color: rgb(0, 0, 255);
  align-items: center; 
  width: 100%;
}
.r{
  display: flex;
  /* justify-content: space-between; */
  padding: 8px 4px;
  background-color: rgb(0, 255, 157);
  align-items: center; 
  width: 100%;
  /* margin-top: 10px; */
  gap:10px;
}
.p {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  padding: 2px;
  background-color: rgb(0, 60, 255);
  width: 100%;
  font-size: 20px;
}

.d{
  display: flex;
  gap: 25px;
  font-size: 20px;
  font-weight: 700;
}
.h{
  font-size: 20px;
  font-weight: 700;

}
.h2{
  font-size: 50px;
}
.d a {
  color: white;
  font-size: 18px;

}
.error{
  color: white;
  background-color: red;
  display: inline-block;   
  padding: 4px 8px;
}
.l{
  content: flex;
  justify-content: center;
  gap: 10px;
  padding: 4px;
}
.but{
  background-color: red;
  border-radius: 6px; 
  padding: 4px 2px;
  cursor: pointer;
  margin-top: 10px;

}
h1{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size:100px;
  text-decoration: underline;
  white-space: nowrap;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: rgba(7, 19, 96, 0.842);
}
.nav div{
  display: flex;
  align-items: center;
  gap:40px;
}
