*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

.parent{
  /* min-height:100vh; */
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f4f6fb;
  gap: 30px;
  flex-wrap:wrap;
}

.card{
  width:330px;
  background:#fff;
  border-radius:16px;
  overflow:hidden;
  box-shadow:0 12px 30px rgba(0,0,0,0.12);
  position:relative;
}

/* ---------- TOP ---------- */
.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.top img{
  width: 40px;
  height: 40px;
  object-fit: contain;
}


.save-btn{
  position:absolute;
  top:12px;
  right:12px;
  background:#fff;
  border:none;
  padding:6px 12px;
  border-radius:20px;
  display:flex;
  align-items:center;
  gap:6px;
  font-size:14px;
  cursor:pointer;
  box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

/* ---------- CENTER ---------- */

.center{
  padding:16px;
}

.center h3{
  display:flex;
  justify-content:space-between;
  font-size:16px;
  font-weight:600;
}

.center h3 span{
  font-size:12px;
  color:#777;
}

.center h2{
  margin-top:6px;
  font-size:18px;
  font-weight:700;
}

/* ---------- TAGS ---------- */

.tags{
  display:flex;
  gap:10px;
  padding:0 16px;
}

.tags h4{
  font-size:12px;
  padding:5px 12px;
  background:#eef2ff;
  color:#4f46e5;
  border-radius:20px;
  text-transform:capitalize;
}

/* ---------- BOTTOM ---------- */

.bottom{
  margin-top:16px;
  padding:16px;
  border-top:1px solid #eee;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.price h3{
  font-size:18px;
  color:#16a34a;
}

.price p{
  font-size:13px;
  color:#555;
}

/* ---------- APPLY BUTTON ---------- */

.apply-btn{
  background:#4f46e5;
  color:#fff;
  border:none;
  padding:10px 18px;
  border-radius:8px;
  font-size:14px;
  cursor:pointer;
  transition:0.3s;
}

.apply-btn:hover{
  background:#4338ca;
}
