*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'helvetica neue';
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
}
h1{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size:100px;
  text-decoration: underline;
  white-space: nowrap;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: rgba(7, 19, 96, 0.842);
}
.nav div{
  display: flex;
  align-items: center;
  gap:40px;
}